footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

/* 
    Novidades
*/

footer .novidades {
    width: 90%;
    max-width: 1200px;
    border-radius: 20px;
    background-color: var(--brown);
    padding: 40px;
    display: flex;
    justify-content: space-between;
    position: relative;
    bottom: -66px;
}

footer .novidades p {
    color: var(--brown-yellow);
    font-size: 18px;
    font-weight: bold;
    width: 242px;
    margin-right: 20px;
}

footer .novidades form {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .novidades form input {
    width: 296px;
    height: 46px;
    border-radius: 23px;
    background-color: var(--light-yellow);
    color: var(--brown-yellow);
    border: none;
    outline: none;
    font-size: 1rem;
    text-indent: 20px;
    margin-right: 30px;
}

footer .novidades form input::placeholder {
    color: var(--brown-yellow);
}

footer .novidades form button {
    color: white;
    background-color: var(--brown-yellow);
    font-size: 14px;
    font-weight: bold;

    border-radius: 23px;
    width: 146px;
    height: 46px;
    border: none;
    outline: none;
    cursor: pointer;
}

/* 
    Container de Informações
*/

footer .info-container {
    background-color: var(--light-yellow);
    padding-bottom: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
}

footer .info-container ul {
    list-style:none;
}

footer .info-container > ul {
    width: min(1200px, 90%);
    margin-top: 106px;
    display: flex;
    justify-content: space-between;
}

footer .info-container ul .menu-title h3 {
    font-size: 14px;
    font-weight: bold;
    line-height: 24px;
    color: var(--brown);
    margin-bottom: 1rem;
}

footer .info-container ul li {
    margin-bottom: 10px;
}

footer .info-container ul li a {
    text-decoration: none;
    font-size: 14px;
    color: var(--brown-yellow);
    line-height: 1rem;
    max-width: 250px;
}

footer ul li .submenu {
    display:block;
}

footer .info-container ul li a:hover {
    color: var(--brown);
}

footer .info-container > ul .contato .contato-info {
    display: flex;
    align-items: center;
}

footer .info-container > ul .contato .submenu .contato-info img {
    margin-right: 10px;
}

/* 
    Container de Informações Adicionais (Formas de Pagamento, Desenvolvimento, etc.)
*/

footer .aditional-information {
    width: 100%;
    height: 172px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

footer .aditional-information > div {
    width: 95%;
    max-width: 1050px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer .aditional-information > div p {
    color: var(--brown-yellow);
    margin-bottom: 20px;
    margin-top: 30px;
    font-size: 12px;
}

footer .aditional-information > div .certificados img:first-of-type {
    margin-right: 30px;  
}

footer .aditional-information > p {
    color: var(--brown-yellow);
    font-size: 12px;
    bottom: 20px;
    position: absolute;
    margin: auto;    
}

@media (max-width: 1440px) {
    footer .novidades form {
        width: 68%;
    }

    footer .novidades form input {
        width: 35%;
    }

    footer .novidades form button {
        width: 20%
    }
}

@media (max-width: 1024px) {

    footer .novidades {
        bottom: -76px;
    }

    footer .novidades form {
        width: 75%;
    }

    footer .novidades form input {
        margin-right: 0;
    }

}

@media (max-width: 768px) {

    footer .novidades {
        padding: 1rem;
        flex-direction: column;
        justify-content: center;
        bottom: -150px;
    }

    footer .novidades p {
        width: 100%;
        text-align: center;;
    }

    footer .novidades form {
        width: 100%;
        flex-direction: column;
        align-items: stretch;
    }

    footer .novidades form input {
        width: 100%;
        margin-top: 1rem;
    }

    footer .novidades form button {
        width: 100%;
        margin-top: 1rem
    }

    footer .info-container > ul {
        flex-direction: column;
        margin-top: 170px;
    }

    footer .info-container {
        padding-bottom: 10px;
    }

    footer .info-container ul li .menu-title  {
        display: flex;
        justify-content: space-between;
        align-items:center;
    }

    footer .info-container ul li .menu-title .seta {
        height: 8px;
        width: 8px;
        border-bottom: 2px solid var(--brown-yellow);
        border-left: 2px solid var(--brown-yellow);
        transform: rotate(-45deg);
        cursor: pointer;
        transition: .3s;
    }

    footer .info-container ul li .menu-title.open .seta {
        transform: rotate(135deg);
    }

    footer .info-container ul li .submenu {
        display: none;
    }

    footer .info-container ul li .menu-title.open ~ .submenu {
        display: block;
    }

    footer .aditional-information {
        height: auto;   
    }

    footer .aditional-information > div {
        flex-direction: column;
        align-items: center;
    }

    footer .aditional-information > div p {
        text-align: center;
        margin-bottom: 1rem;
        margin-top: 1.5rem;
    }

    footer .aditional-information > p {
        position: relative;
        bottom: 0;  
        margin: 1rem 0;
    }

}