/* 
    Header
*/

header {
    height: 110px;
    border-bottom: 1px solid var(--light-yellow);
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: min(80%, 1200px);
    margin: auto;
    height: 100%;
}

/* 
    Busca
*/

header .busca input {

    border: none;
    outline: none;

    height: 46px;
    border-radius: 23px;
    font-size: 14px;
    padding: 5px 12px;  
    width: 378px;

    background-color: var(--light-yellow);
    color: var(--brown-yellow);

    background-image: url("../images/header/search.svg");
    background-repeat: no-repeat;
    text-indent: 10px;
    background-position: 95%;
}

header .busca input::placeholder {
    color: var(--brown-yellow);
}

/* 
    Menu Busca
*/

header .busca input:focus ~ .menu-busca {
    display: flex;
}

header .busca .menu-busca:hover {
    display:flex;
}

header .busca .menu-busca {
    position: absolute;
    top: 110px;
    right: calc(50% - 450px);

    display: none;
    height: 478px;

    width: 900px;
    z-index: 2;
    border: 1px solid var(--light-yellow);
    border-radius: 20px;
}

header .busca .menu-busca .opcoes {
    padding: 20px;
    background-color: var(--light-yellow);
    border-radius: 20px 0 0 20px;
    width: 290px;
}

header .busca .menu-busca .opcoes > div {
    border-bottom: 1px solid white;
}

header .busca .menu-busca .opcoes .pesquisas-recentes {
    border-bottom: none;
}

header .busca .menu-busca .opcoes > div h3 {
    font-size: 14px;
    font-weight: bold;
    color: var(--brown-yellow);
    margin-bottom: 20px;
}

header .busca .menu_-usca .opcoes .categorias h3,
header .busca .menu-busca .opcoes .pesquisas-recentes h3 {
    margin-top: 20px;
}

header .busca .menu-busca .opcoes > div p {
    font-size: 14px;
    color: var(--brown-yellow);
    line-height: 24px;
    margin-top: 0;
    margin-bottom: 10px;
    cursor: pointer;
}

header .busca .menu-busca .opcoes > div p:last-child {
    margin-bottom: 20px;
}

header .busca .menu-busca .opcoes .pesquisas-recentes .pesquisa {
    padding: 5px 10px;
    display: inline-block;
    font-size: 12px;
    color: var(--brown-yellow);
    background-color: white;
    border-radius: 13px;
    margin-bottom: 10px;
    margin-right: 10px;
    cursor: pointer;
}

header .busca .menu-busca .produtos {
    width: 610px;
    border-radius: 0 20px 20px 0;
    background-color: white;
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header .busca .menu-busca .produtos h3 {
    font-size: 14px;
    color: var(--brown-yellow);
    font-weight: bold;
}

header .busca .menu-busca .produtos .produtos-container {
    display: flex;
    justify-content: space-between;
}

header .busca .menu-busca .produtos .produtos-container .produto img {
    width: 170px;
    margin-bottom: 20px;
}

header .busca .menu-busca .produtos .produtos-container .produto h2 {
    font-size: 16px;
    font-weight: 400;
    color: var(--brown);
    line-height: 26px;
    max-width: 170px;
    margin-bottom: 20px;
    min-height: 74px;
}

header .busca .menu-busca .produtos .produtos-container .produto button {
    width: 170px;
    height: 46px;
    border-radius: 23px;
    background-color: var(--brown);
    color: var(--light-yellow);
    border: none;
    outline: none;
    font-weight: bold;
    cursor: pointer;
}

header .busca .menu-busca .produtos a {
    color: var(--brown-yellow);
    text-align: center;
    font-size: 14px;
}

/* 
    Menus (Conta, Favoritos e Carrinho)
*/


header .menus {
    display: flex;
    align-items: center;
}

header .menus .icone-container {
    display :flex;

    cursor: pointer;
    margin-right: 30px;
}

header .menus .icone-container .icone {
    margin-right: 10px;
}

header .menus .icone-container .nome {
    color: var(--brown);
    font-size: 12px;
    font-weight: bold;
}

header .menus .icone-container .mensagem {
    color: var(--brown-yellow); 
    font-size: 12px;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
}

.dropdown-menu {
    position: relative;
}

.dropdown-menu:hover .dropdown-content{
    display: block;
}

header .menus .dropdown-conta > div {
    padding-top: 15px;
}

header .menus .dropdown-conta .dropdown-content {
    position: absolute;

    width: 150px;
    padding: 20px;
    border-radius: 20px;

    background-color: var(--light-yellow);
    z-index: 1;
    list-style: none;
}

header .menus .dropdown-conta .dropdown-content li:first-child {
    margin-bottom: 20px;
}

header .menus .dropdown-conta .dropdown-content li a {
    text-decoration: none;
    color: var(--brown-yellow);
    font-size: 14px;
}

header .menus .dropdown-conta .dropdown-content li a:hover {
    color: var(--brown);
}

header .menus .dropdown-carrinho > div {
    padding-top: 20px;
}

header .menus .dropdown-carrinho .dropdown-content {
    position: absolute;
    width: 300px;
    height: 510px;
    border-radius: 20px;
    padding: 20px;
    background-color: var(--light-yellow);
    list-style: none;
    z-index: 2; 
    right: 0;
}

header .menus .dropdown-carrinho .dropdown-content li .produto{
    display: flex;
    text-decoration: none;
}

header .menus .dropdown-carrinho .dropdown-content li .produto .produto-img {
    width: 60px;
    height: 60px;
}

header .menus .dropdown-carrinho .dropdown-content li .produto h2 {
    font-size: 14px;
    font-weight: normal;
    color: var(--brown);
    line-height: 24px;
    margin-left: 10px;
    max-width: 140px;
    margin-bottom: 10px;
}

header .menus .dropdown-carrinho .dropdown-content li .valor {
    font-size: 14px;
    font-weight: bold;
    color: var(--brown);
    margin-bottom: 20px;
}

header .menus .dropdown-carrinho .dropdown-content li > p {
    margin-left: 70px;
}

header .menus .dropdown-carrinho .dropdown-content .info-compra {
    display: flex;
    flex-direction: column;
}

header .menus .dropdown-carrinho .dropdown-content .info-compra .subtotal {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    color: var(--brown);
    margin-bottom: 20px;
}

header .menus .dropdown-carrinho .dropdown-content .info-compra .subtotal .valor-total {
    font-weight: bold;
}

header .menus .dropdown-carrinho .dropdown-content .info-compra a button {
    padding: 14px 72px;
    border-radius: 23px;
    margin-bottom: 16px;
    border: none;
    outline: none;
    background-color: var(--brown);
    color: var(--light-yellow);
    font-size: 14px;
    font-weight: bold;  
    cursor: pointer;
}

header .menus .dropdown-carrinho .dropdown-content .info-compra .ver-carrinho-container {
    display: flex;
    align-items: center;
}

header .menus .dropdown-carrinho .dropdown-content .info-compra a.ver-carrinho {
    font-size: 14px;
    color: var(--brown-yellow); 
    align-self: center; 
}


/* 
    Linhas
*/


.linhas {
    height: 60px;
    width: min(700px, 90%);
    margin: auto;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

.linhas > li{
    list-style-type: none;
    width: 200px;

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer
}

.linhas li:hover  {
    background-color: var(--light-yellow);
}

.linhas li .linha {
    color: var(--brown-yellow);
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;  

    transition: .1s;
}

.linhas .linha .icone-linha {
    margin-right: 1rem;
    position: relative;
    top: 5px;
}

.linhas .dropdown-linha .dropdown-content {
    padding: 20px;
    top: 60px;
    background-color: var(--light-yellow);
    border-radius: 0px 0px 20px 20px;
    width: 100%;
    list-style: none;
}

.linhas .dropdown-linha .dropdown-content li {
    margin-bottom: 10px;
}

.linhas .dropdown-linha .dropdown-content li:last-child {
    margin-bottom: 0;
}

.linhas .dropdown-linha .dropdown-content li a {
    text-decoration: none;
    color: var(--brown-yellow);
    width: 100%;
    font-size: 14px;
}

.linhas .dropdown-linha .dropdown-content li a:hover {
    color: var(--brown);
}
