/* 
    Geral
*/

:root {
    --brown-yellow: #BE9655;
    --brown: #502305;
    --light-yellow: #f0e6d2;
    --light-gray: #DFD4CE;
    --gray: #00000029;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Sintony;
}

/* 
    Header
*/

header {
    height: 110px;
    border-bottom: 1px solid var(--light-yellow);
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: min(80%, 1200px);
    margin: auto;
    height: 100%;
}

/* 
    Busca
*/

header .busca input {

    border: none;
    outline: none;

    height: 46px;
    border-radius: 23px;
    font-size: 14px;
    padding: 5px 12px;  
    width: 378px;

    background-color: var(--light-yellow);
    color: var(--brown-yellow);

    background-image: url("../images/header/search.svg");
    background-repeat: no-repeat;
    text-indent: 10px;
    background-position: 95%;
}

header .busca input::placeholder {
    color: var(--brown-yellow);
}

/* 
    Menu Busca
*/

header .busca input:focus ~ .menu-busca {
    display: flex;
}

header .busca .menu-busca:hover {
    display:flex;
}

header .busca .menu-busca {
    position: absolute;
    top: 110px;
    right: calc(50% - 450px);

    display: none;
    height: 478px;

    width: 900px;
    z-index: 2;
    border: 1px solid var(--light-yellow);
    border-radius: 20px;
}

header .busca .menu-busca .opcoes {
    padding: 20px;
    background-color: var(--light-yellow);
    border-radius: 20px 0 0 20px;
    width: 290px;
}

header .busca .menu-busca .opcoes > div {
    border-bottom: 1px solid white;
}

header .busca .menu-busca .opcoes .pesquisas-recentes {
    border-bottom: none;
}

header .busca .menu-busca .opcoes > div h3 {
    font-size: 14px;
    font-weight: bold;
    color: var(--brown-yellow);
    margin-bottom: 20px;
}

header .busca .menu_-usca .opcoes .categorias h3,
header .busca .menu-busca .opcoes .pesquisas-recentes h3 {
    margin-top: 20px;
}

header .busca .menu-busca .opcoes > div p {
    font-size: 14px;
    color: var(--brown-yellow);
    line-height: 24px;
    margin-top: 0;
    margin-bottom: 10px;
    cursor: pointer;
}

header .busca .menu-busca .opcoes > div p:last-child {
    margin-bottom: 20px;
}

header .busca .menu-busca .opcoes .pesquisas-recentes .pesquisa {
    padding: 5px 10px;
    display: inline-block;
    font-size: 12px;
    color: var(--brown-yellow);
    background-color: white;
    border-radius: 13px;
    margin-bottom: 10px;
    margin-right: 10px;
    cursor: pointer;
}

header .busca .menu-busca .produtos {
    width: 610px;
    border-radius: 0 20px 20px 0;
    background-color: white;
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header .busca .menu-busca .produtos h3 {
    font-size: 14px;
    color: var(--brown-yellow);
    font-weight: bold;
}

header .busca .menu-busca .produtos .produtos-container {
    display: flex;
    justify-content: space-between;
}

header .busca .menu-busca .produtos .produtos-container .produto img {
    width: 170px;
    margin-bottom: 20px;
}

header .busca .menu-busca .produtos .produtos-container .produto h2 {
    font-size: 16px;
    font-weight: 400;
    color: var(--brown);
    line-height: 26px;
    max-width: 170px;
    margin-bottom: 20px;
    min-height: 74px;
}

header .busca .menu-busca .produtos .produtos-container .produto button {
    width: 170px;
    height: 46px;
    border-radius: 23px;
    background-color: var(--brown);
    color: var(--light-yellow);
    border: none;
    outline: none;
    font-weight: bold;
    cursor: pointer;
}

header .busca .menu-busca .produtos a {
    color: var(--brown-yellow);
    text-align: center;
    font-size: 14px;
}

/* 
    Menus (Conta, Favoritos e Carrinho)
*/


header .menus {
    display: flex;
    align-items: center;
}

header .menus .icone-container {
    display :flex;

    cursor: pointer;
    margin-right: 30px;
}

header .menus .icone-container .icone {
    margin-right: 10px;
}

header .menus .icone-container .nome {
    color: var(--brown);
    font-size: 12px;
    font-weight: bold;
}

header .menus .icone-container .mensagem {
    color: var(--brown-yellow); 
    font-size: 12px;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
}

.dropdown-menu {
    position: relative;
}

.dropdown-menu:hover .dropdown-content{
    display: block;
}

header .menus .dropdown-conta > div {
    padding-top: 15px;
}

header .menus .dropdown-conta .dropdown-content {
    position: absolute;

    width: 150px;
    padding: 20px;
    border-radius: 20px;

    background-color: var(--light-yellow);
    z-index: 1;
    list-style: none;
}

header .menus .dropdown-conta .dropdown-content li:first-child {
    margin-bottom: 20px;
}

header .menus .dropdown-conta .dropdown-content li a {
    text-decoration: none;
    color: var(--brown-yellow);
    font-size: 14px;
}

header .menus .dropdown-conta .dropdown-content li a:hover {
    color: var(--brown);
}

header .menus .dropdown-carrinho > div {
    padding-top: 20px;
}

header .menus .dropdown-carrinho .dropdown-content {
    position: absolute;
    width: 300px;
    height: 510px;
    border-radius: 20px;
    padding: 20px;
    background-color: var(--light-yellow);
    list-style: none;
    z-index: 2; 
    right: 0;
}

header .menus .dropdown-carrinho .dropdown-content li .produto{
    display: flex;
    text-decoration: none;
}

header .menus .dropdown-carrinho .dropdown-content li .produto .produto-img {
    width: 60px;
    height: 60px;
}

header .menus .dropdown-carrinho .dropdown-content li .produto h2 {
    font-size: 14px;
    font-weight: normal;
    color: var(--brown);
    line-height: 24px;
    margin-left: 10px;
    max-width: 140px;
    margin-bottom: 10px;
}

header .menus .dropdown-carrinho .dropdown-content li .valor {
    font-size: 14px;
    font-weight: bold;
    color: var(--brown);
    margin-bottom: 20px;
}

header .menus .dropdown-carrinho .dropdown-content li > p {
    margin-left: 70px;
}

header .menus .dropdown-carrinho .dropdown-content .info-compra {
    display: flex;
    flex-direction: column;
}

header .menus .dropdown-carrinho .dropdown-content .info-compra .subtotal {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    color: var(--brown);
    margin-bottom: 20px;
}

header .menus .dropdown-carrinho .dropdown-content .info-compra .subtotal .valor-total {
    font-weight: bold;
}

header .menus .dropdown-carrinho .dropdown-content .info-compra a button {
    padding: 14px 72px;
    border-radius: 23px;
    margin-bottom: 16px;
    border: none;
    outline: none;
    background-color: var(--brown);
    color: var(--light-yellow);
    font-size: 14px;
    font-weight: bold;  
    cursor: pointer;
}

header .menus .dropdown-carrinho .dropdown-content .info-compra .ver-carrinho-container {
    display: flex;
    align-items: center;
}

header .menus .dropdown-carrinho .dropdown-content .info-compra a.ver-carrinho {
    font-size: 14px;
    color: var(--brown-yellow); 
    align-self: center; 
}


/* 
    Linhas
*/


.linhas {
    height: 60px;
    width: min(700px, 90%);
    margin: auto;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

.linhas > li{
    list-style-type: none;
    width: 200px;

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer
}

.linhas li:hover  {
    background-color: var(--light-yellow);
}

.linhas li .linha {
    color: var(--brown-yellow);
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;  

    transition: .1s;
}

.linhas .linha .icone-linha {
    margin-right: 1rem;
    position: relative;
    top: 5px;
}

.linhas .dropdown-linha .dropdown-content {
    padding: 20px;
    top: 60px;
    background-color: var(--light-yellow);
    border-radius: 0px 0px 20px 20px;
    width: 100%;
    list-style: none;
}

.linhas .dropdown-linha .dropdown-content li {
    margin-bottom: 10px;
}

.linhas .dropdown-linha .dropdown-content li:last-child {
    margin-bottom: 0;
}

.linhas .dropdown-linha .dropdown-content li a {
    text-decoration: none;
    color: var(--brown-yellow);
    width: 100%;
    font-size: 14px;
}

.linhas .dropdown-linha .dropdown-content li a:hover {
    color: var(--brown);
}



/* 
    Main
*/

/* 
    Banner
*/

main .banner-container {
    position: relative;
    height: 500px;
    /* background-image: url(../images/home/haenssgen_banner_01_desk.png); */
}

main .banner-container .slider {
    display: block;
    position: relative;
    height: 100%;
}

main .banner-container .slider li {
    width: 100%;
    list-style: none;
    position: absolute;
}

main .banner-container .slider input {
    display: none;
}

main .banner-container .slider .banner {
    background-size: cover;
    height: 500px;  
}

main .banner-container .slider .banner.animate {
    /* animation-name: slider-animation;
    animation-duration: 1s; */
}

main .banner-container .slider .banner#banner1 {
    background-image: url(../images/home/haenssgen_banner_01_desk.png);
}

main .banner-container .slider .banner#banner2 {
    background-image: url(../images/home/haenssgen_banner_01_desk.png);
}

main .banner-container .slider .banner#banner3 {
    background-image: url(../images/home/haenssgen_banner_01_desk.png);
}

main .banner-container .slider label {
    background-color: var(--brown-yellow);
    opacity: .5;
    border-radius: 50%;
    bottom: 20px;
    cursor: pointer;
    display: block;
    height: 10px;
    position: absolute;
    width: 10px;
    z-index: 10;
}

main .banner-container .slider li:nth-child(1) label {
    left: calc(50% - 35px);
}

main .banner-container .slider li:nth-child(2) label {
    left: calc(50% - 5px)
}

main .banner-container .slider li:nth-child(3) label {
    left: calc(50% + 25px);
}

main .banner-container .slider .banner {
    opacity: 0;
    visibility: hidden;
}

main .banner-container .slider li input:checked ~ .banner {
    opacity: 1;
    visibility: visible;
    z-index: 10;
}

main .banner-container .slider li input:checked ~ label {
    opacity: 1;
} 

@keyframes slider-animation {
    from {
        /* opacity: 0.5; */
        transform: translate(-100vw);
    } 
    to {
        opacity: 1;
        transform: translate(0px);
    }
}

/* 
    After Banner
*/

main .after-banner {
    height: 164px;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;

    background-color: var(--light-yellow);
}

main .after-banner .container {
    width: min(90%, 1200px);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main .after-banner .qualidades {
    display: flex;
    align-items: center;
}

main .after-banner .qualidades .icone {
    margin-right: 20px;
    position: relative;
    top: -6px;
}

main .after-banner .qualidades .qualidade {
    color: var(--brown);
    font-size: 1rem;
}

main .after-banner .qualidades .adicional {
    color: var(--brown-yellow);
    font-size: 14px;
}

/* 
    Linhas e Produtos
*/

/* 
    Linha Food Service
*/

main .linha-container {
    margin: auto;
    width: min(1200px, 90%);
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    position: relative;
}

main .linha-container .linha {
    width: 480px;
    padding: 30px;
    border-radius: 20px;
    background-color: var(--brown);
    position: absolute;
    left:0;
}

main .linha-container .linha img{
    margin-top: 1px;
    margin-bottom: 21px;
}

main .linha-container .linha h3 {
    color: var(--brown-yellow);
    font-size: 18px;
    margin-bottom: 20px;
    font-weight: bold;
}

main .linha-container .linha > p {
    color: white;
    font-size: 14px;
    width: 180px;
    margin-bottom: 55px;
    line-height: 24px;
}

main .linha-container .linha a {
    text-decoration: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    max-width: 100px;
}

main .linha-container .linha a p {
    color: var(--brown-yellow);
    font-size: 14px;
    font-weight: bold;
    margin-right: 10px;
}

main .linha-container .linha a .ver-tudo {
   border-radius: 50%;
   width: 20px;
   height: 20px;
   background-color: var(--brown-yellow); 
   background-image: url(../images/home/arrow-right-1.svg);
   background-repeat: no-repeat;
   background-position: center;
}

/* 
    Produtos
*/

main .linha-container .produtos {
    display: flex;
    position: relative;
    top: 30px;
    margin-bottom: 100px;
    /* position: absolute;
    top: 30px;
    left: 336px; */
}

main .linha-container .produtos .produto {
    padding: 25px;
    width: 276px;
    
    background-color: white;
    border-radius: 20px;
    border: 1px solid var(--light-yellow);
    margin-right: 30px;

}

main .linha-container .produtos .produto .header-produto {
    display: flex;
    justify-content: space-between;
    height: 24px;
}

main .linha-container .produtos .produto .header-produto .desconto {
    background-color: var(--brown);
    color: white;
    font-size: 10px;
    font-weight: bold;
    height: 24px;
    width: 60px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

main .linha-container .produtos .produto .header-produto .desconto.oculto {
    visibility: hidder;
    opacity: 0;
}

main .linha-container .produtos .produto .container-imagem {
    position: relative;
}

main .linha-container .produtos .produto .container-imagem button {
    font-size: 14px;
    font-weight: bold;

    border: none;
    height: 46px;
    width: 236px;
    border-radius: 23px;

    position: absolute;
    bottom: 5px;

    cursor: pointer;
}

main .linha-container .produtos .produto .container-imagem button.comprar {
    color: white;
    background-color: var(--brown);
}

main .linha-container .produtos .produto .container-imagem button.avise-me {
    color: var(--brown);
    background-color: var(--light-gray);
}

main .linha-container .produtos .produto .container-imagem .comprar {

}

main .linha-container .produtos .produto .nome {
    color: var(--brown);
    font-size: 16px;
    margin-top: 20px;
}

main .linha-container .produtos .produto .de {
    text-decoration: line-through;
    height: 18px;
    font-size: 14px;
    color: var(--brown-yellow);
    margin-top: 20px;
}

main .linha-container .produtos .produto .preço {  
    color: var(--brown);
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px; 
} 

main .linha-container .produtos .produto .pagamento {
    font-size: 14px;
    color: var(--brown);
    margin-top: 10px;
}

/* 
    Banner Destaques
*/

main .banner-destaques {
    width: min(1200px, 90%);
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

/* 
    Footer
*/

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

/* 
    Novidades
*/

footer .novidades {
    width: 1200px;
    height: 132px;
    border-radius: 20px;
    background-color: var(--brown);
    padding: 40px;
    display: flex;
    justify-content: space-between;
    position: relative;
    bottom: -66px;
}

footer .novidades p {
    color: var(--brown-yellow);
    font-size: 18px;
    font-weight: bold;
    width: 242px;
}

footer .novidades form {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .novidades form input {
    width: 296px;
    height: 46px;
    border-radius: 23px;
    background-color: white;
    color: var(--brown-yellow);
    border: none;
    outline: none;
    font-size: 1rem;
    text-indent: 20px;
    margin-right: 30px;
}

footer .novidades form input::placeholder {
    color: var(--brown-yellow);
}

footer .novidades form button {
    color: white;
    background-color: var(--brown-yellow);
    font-size: 14px;
    font-weight: bold;

    border-radius: 23px;
    width: 146px;
    height: 46px;
    border: none;
    outline: none;
    cursor: pointer;
}

/* 
    Container de Informações
*/

footer .info-container {
    background-color: var(--light-yellow);
    height: 314px;
    width: 100%;
    display: flex;
    justify-content: center;
}

footer .info-container > div {
    width: min(1200px, 90%);
    margin-top: 106px;
    display: flex;
    justify-content: space-between;
}

footer .info-container > div h3 {
    font-size: 14px;
    font-weight: bold;
    line-height: 24px;
    color: var(--brown);
    margin-bottom: 20px;
}

footer .info-container > div a {
    text-decoration: none;
}

footer .info-container > div a:hover  p {
    color: var(--brown);
}

footer .info-container > div a p {
    font-size: 14px;
    color: var(--brown-yellow);
    line-height: 1rem;
    margin-bottom: 10px;
    max-width: 250px;
}

footer .info-container > div .contato .contato-info {
    display: flex;
    align-items: center;
}

footer .info-container > div .contato .contato-info img {
    margin-right: 10px;
    position: relative;
    top: -6px;
}




footer .aditional-information {
    width: 100%;
    height: 172px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

footer .aditional-information > div {
    width: min(1050px, 90%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer .aditional-information .desenvolvimento {
    justify-self: center;
}

footer .aditional-information > div p {
    color: var(--brown-yellow);
    margin-bottom: 20px;
    margin-top: 30px;
    font-size: 12px;
}

footer .aditional-information > div .certificados img:first-of-type {
    margin-right: 30px;  
}

footer .aditional-information > p {
    color: var(--brown-yellow);
    font-size: 12px;
    bottom: 20px;
    position: absolute;
    margin: auto;    
}