/* 
    Main
*/

/* 
    Banner
*/

main .banner-container {
    position: relative;
    height: 500px;
    /* background-image: url(../images/home/haenssgen_banner_01_desk.png); */
}

main .banner-container .slider {
    display: block;
    position: relative;
    height: 100%;
}

main .banner-container .slider li {
    width: 100%;
    list-style: none;
    position: absolute;
    height: 100%;
}

main .banner-container .slider input {
    display: none;
}

main .banner-container .slider .img-container {
    width: 100%;
}

main .banner-container .slider .banner {
    /* object-fit: cover; */
    position: absolute;
    height: 100%;  
    transition: 1s;
    object-fit: cover;
    width: 100%;
}

main .banner-container .slider label {
    background-color: var(--brown-yellow);
    opacity: .5;
    border-radius: 50%;
    bottom: 20px;
    cursor: pointer;
    display: block;
    height: 10px;
    position: absolute;
    width: 10px;
    z-index: 10;
}

main .banner-container .slider li:nth-child(1) label {
    left: calc(50% - 35px);
}

main .banner-container .slider li:nth-child(2) label {
    left: calc(50% - 5px)
}

main .banner-container .slider li:nth-child(3) label {
    left: calc(50% + 25px);
}

main .banner-container .slider .banner {
    opacity: 0;
    visibility: hidden;
}

main .banner-container .slider li input:checked ~ .banner {
    opacity: 1;
    visibility: visible;
}

main .banner-container .slider li input:checked ~ label {
    opacity: 1;
    z-index: 10;
} 

/* 
    After Banner
*/

main .after-banner {
    height: 164px;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;

    background-color: var(--light-yellow);
}

main .after-banner .container {
    width: 98%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main .after-banner .qualidades {
    display: flex;
    align-items: center;
}

main .after-banner .qualidades .icone {
    margin-right: 20px;
    position: relative;
    top: -6px;
}

main .after-banner .qualidades .qualidade {
    color: var(--brown);
    font-size: 1rem;
}

main .after-banner .qualidades .adicional {
    color: var(--brown-yellow);
    font-size: 14px;
}

/* 
    Linhas e Produtos
*/

main .linha-container {
    margin: auto;
    width: 90%;
    max-width: 1200px;
    position: relative;
}

main .linha-container .linha {
    width: 480px;
    padding: 30px;
    border-radius: 20px;
    background-color: var(--brown);
    position: absolute;
    left: 0;
}

main .linha-container .linha img{
    margin-top: 1px;
    margin-bottom: 21px;
}

main .linha-container .linha h3 {
    color: var(--brown-yellow);
    font-size: 18px;
    margin-bottom: 20px;
    font-weight: bold;
}

main .linha-container .linha > p {
    color: white;
    font-size: 14px;
    width: 180px;
    margin-bottom: 55px;
    line-height: 24px;
}

main .linha-container .linha a {
    text-decoration: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    max-width: 100px;
}

main .linha-container .linha a p {
    color: var(--brown-yellow);
    font-size: 14px;
    font-weight: bold;
    margin-right: 10px;
}

main .linha-container .linha a .ver-tudo {
   border-radius: 50%;
   width: 20px;
   height: 20px;
   background-color: var(--brown-yellow); 
   background-image: url(../images/home/arrow-right-1.svg);
   background-repeat: no-repeat;
   background-position: center;
}

/* 
    Produtos
*/

main .linha-container .produtos {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    top: 30px;
    margin-bottom: 100px;
}

main .linha-container .produtos .seta {
    height: 36px;
    width: 36px;
    border-radius: 50%;
    background-color: var(--brown-yellow);
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
}

main .linha-container .produtos .seta-esquerda {
    left: 18px;
}

main .linha-container .produtos .seta-direita {
    right: 48px;
}

main .linha-container .produtos .produto {
    padding: 25px;
    width: 276px;
    
    background-color: white;
    border-radius: 20px;
    border: 1px solid var(--light-yellow);
    margin-right: 30px;
}

main .linha-container .produtos .produto .header-produto {
    display: flex;
    justify-content: space-between;
    height: 24px;
}

main .linha-container .produtos .produto .header-produto .desconto {
    background-color: var(--brown);
    color: white;
    font-size: 10px;
    font-weight: bold;
    height: 24px;
    width: 60px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

main .linha-container .produtos .produto .header-produto .desconto.oculto {
    visibility: hidder;
    opacity: 0;
}

main .linha-container .produtos .produto .container-imagem {
    position: relative;
}

main .linha-container .produtos .produto .container-imagem button {
    font-size: 14px;
    font-weight: bold;

    border: none;
    height: 46px;
    width: 236px;
    border-radius: 23px;

    position: absolute;
    bottom: 5px;

    cursor: pointer;
}

main .linha-container .produtos .produto .container-imagem button.comprar {
    color: white;
    background-color: var(--brown);
}

main .linha-container .produtos .produto .container-imagem button.avise-me {
    color: var(--brown);
    background-color: var(--light-gray);
}

main .linha-container .produtos .produto .nome {
    color: var(--brown);
    font-size: 16px;
    margin-top: 20px;
}

main .linha-container .produtos .produto .de {
    text-decoration: line-through;
    height: 18px;
    font-size: 14px;
    color: var(--brown-yellow);
    margin-top: 20px;
}

main .linha-container .produtos .produto .preço {  
    color: var(--brown);
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px; 
} 

main .linha-container .produtos .produto .pagamento {
    font-size: 14px;
    color: var(--brown);
    margin-top: 10px;
}

/* 
    Banner Destaques
*/

main .banner-destaques {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
}

main .banner-destaques .slider {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    list-style: none;
}

main .banner-destaques .slider li input,
main .banner-destaques .slider li label {
    display: none;
}

@media (max-width: 1440px){

    main .banner-container {
        height: calc(320px + 10vw);
    }

    main .linha-container .produtos {
        justify-content: center;
    }

    main .linha-container .produtos .produto:last-of-type {
        display:none;
    }

    main .banner-destaques .slider li img {
        width: 25vw;
    }

    main .banner-destaques > img {
        width: 40vw;
    }

}


@media (max-width: 1024px) {

   
    
}

@media (max-width: 768px) {

    
    
    main .banner-destaques .slider {
        justify-content: center;
    }

    main .banner-destaques .slider li label {
        display: block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: var(--brown-yellow);
        position: absolute;
        display: block;
        cursor: pointer;
        bottom: -20px;
    }

    main .banner-destaques .slider li:nth-of-type(1) label {
        left: calc(50% - 35px);
    }

    main .banner-destaques .slider li:nth-of-type(2) label {
        left: calc(50% - 5px);
    }

    main .banner-destaques .slider li:nth-of-type(3) label {
        left: calc(50% + 25px);
    }

    main .banner-destaques .slider li img {
        display: none;
    }

    main .banner-destaques .slider li input:checked ~ img {
        display: block;
    }
}